[2018-05-14 07:57] BlindDespair opened #1 "Migrate to Angular 6"
In order for our project to  be able to migrate to Angular 6, we need all dependencies with Angular peerDependency to be at 6 too. I would like to ask you do the migration. If you don't have time for it I'll create fork, migrate myself and then create PR.

[2018-05-14 11:43] omridevk commented on #1
@BlindDespair

Thanks for reporting the issue.
hopefully i'll get to it this week.

[2018-06-12 16:50] BlindDespair commented on #1
Sorry if issue's original message was not written in most polite way, I edited it. I think I will do migration via fork in closest days. Would you merge my PR in that case?

[2018-06-12 17:39] omridevk commented on #1
@BlindDespair
No worries :)
Sorry for not getting around update the code, was a bit occupied with other projects.
Of course you may submit a PR, it will be greatly appreciated.

[2018-06-12 17:39] omridevk commented on #1
I am planning on adding more features in the near future, while keeping the public API the same.

[2018-06-12 17:41] omridevk commented on #1
Please make sure to replace Rxjs operators with their Pipeable counterparts.

[2018-06-14 22:09] BlindDespair commented on #1
Feel free to review it now, I tested it on demo app.

[2018-06-15 15:02] omridevk commented on #1
@BlindDespair
I am sorry, I have been working on it offline, haven't seen you have already submitted a PR, I have already implemented migration to v6 including several bug fixes and other features.
Apologies for not updating the issue sooner when I started to work on it.
You may update to version 2.0.1 which now supports Angular 6, there are however a few breaking changes.

If there is a problem,

[2018-06-15 15:24] BlindDespair commented on #1
@omridevk
No problem with me. Thanks for updating it. I would like to ask however what are those breaking changes? Because I checked readme and it seems to be same way as before.

[2018-06-15 17:59] omridevk commented on #1
the breaking changes are:
1. Shortcut was changed to ShortcutInput.
2. setThrottleTime method was removed, as throttleTime is now set per command.
That's it.

[2018-06-15 17:59] #1 closed

[2018-08-05 22:59] pawelsalawa opened #5 "A shortcut works either in INPUT or outside of it, but never for both cases"
**Describe the bug**
Current implementation of "isAllowed" function prevents single shortcut to work globally. What I mean is that if you define global shortcut for top-level component, it works for all contents of the page, except of INPUT/TEXTAREA/SELECT, which is explained in docs - we need explicit config option to be set to make it work. Problem is that if I provide all 3 input types in "allo

[2018-08-09 09:34] omridevk commented on #5
@pawelsalawa
Thanks a lot for reporting this issue, hopefully i'll be able to look into it this week, either way, please feel free to submit a PR.
Either way, thanks for the feedback :)

[2018-08-09 09:35] omridevk commented on #5
Seems like a trivial fix, but might break previous behavior, i'll look into it and provide an update soon enough.

[2018-08-09 09:38] omridevk commented on #5
And just to make sure I understand the behavior you expect:
[code]

You want the above shortcut, to work on all elements, including the "ignored" one, i.e TEXTAREA, INPUT and SELECT elements?

[2018-08-09 09:39] omridevk commented on #5
If so, it makes total sense, and need to be changed. again, thanks for the input.

[2018-08-09 13:28] pawelsalawa commented on #5
Currently, If you don't specify "allowIn", the shortcut will work everywhere, except for inputs (such as textarea, input and select). If I specify the "allowsIn", my intention would be that I **add** speficied inputs to the list of allowed elements.

If I define allowedIn, I overwrite "all" elements with only these specified explicitly in the property. This prevents me from having global shortcut,

[2018-08-09 16:22] omridevk commented on #5
I agree with you, so basically, the allowIn will provide an escape hatch (it was suppose to, it was an error in my code):
currently blacklisted nodes are:
``` ["INPUT", "TEXTAREA", "SELECT"] ```

so if you set:
[code]

The command will trigger everywhere, except in TEXTAREA, makes sense?

[2018-08-09 16:24] omridevk commented on #5
Please confirm, I will make a fix and will bump major version, as this is a breaking change.

[2018-08-09 17:11] omridevk commented on #5
Fixed in
https://github.com/omridevk/ng-keyboard-shortcuts/pull/6

[2018-08-09 17:11] #5 closed

[2018-08-09 17:17] omridevk commented on #5
@pawelsalawa
Released version 6.1.0
Please verify that the fix works on your end.

Thank you for submitting the bug.

[2018-08-09 20:39] pawelsalawa commented on #5
Sorry for rather delayed response, but I wasn't around. Yes, the idea was exactly that. I will test it in few moments and confirm here.

[2018-08-09 20:47] pawelsalawa commented on #5
Works as expected. Thanks a lot for your timely reaction!

[2018-08-09 23:35] omridevk commented on #5
No problem :) happy to help, have a wonderful weekend friend.

[2018-09-04 12:47] BlindDespair opened #7 "Project description for getting started doesn't match the real possible usage"
In your [ng-keyboard-shortcuts.module.ts](https://github.com/omridevk/ng-keyboard-shortcuts/blob/master/projects/ng-keyboard-shortcuts/src/lib/ng-keyboard-shortcuts.module.ts) you don't have the service provided, therefore importing module does nothing, because injector still complains that there is no provider for KeyboardShortcutsService. I can provide it in my app.module as workaround but other

[2018-12-05 10:08] mselerin commented on #7
As described in the README, the service could be provided directly inside a component like this :

[code]

The main advantage is that the service will only live with the current component and when the component is destroyed, the shortcuts disappear as well.

[2018-12-05 11:02] omridevk commented on #7
Thanks for the feedback, and sorry for the delay, I will fix the service, but I have yet decided which way to go, I will make a PR soon so you guys can review and let me know if the change fits your needs.

Thanks.

[2019-03-18 10:28] ManojRamanan opened #8 "function keys f1 to f12 not working."
function keys f1 to f12  not working.

The following does not work where as it works for all other keys
this.keyboard.add([
    {
      key: "f1",
      command: () => console.log("f1"),
      preventDefault: true
  }
  ]);

[2019-03-18 10:40] omridevk commented on #8
@ManojRamanan
Thanks for reporting the issue, as I am currently working on Version 7.0 with a major API changes, I will include support for Functions keys as part of that release.

Thanks again for reporting the issue.

[2019-03-18 12:53] omridevk commented on #8
The new version will have breaking changes which are necessary for proper cleanup to prevent memory leaks

[2019-03-18 20:55] omridevk commented on #7
Again apologies for the delay, I am about to release a new version without a service and only components, the documentation will be updated accordingly, and all breaking changes will be noted. The version will include a much safer way for cleanup with relatively same API.

[2019-03-30 17:12] omridevk commented on #8
addressed here:
https://github.com/omridevk/ng-keyboard-shortcuts/pull/9
closing

Please update to latest version (7.0.1)
There are breaking changes, but it should be a quick refactoring.
Didn't have the time to make schematics for easy upgrade.

[2019-03-30 17:12] #8 closed

[2019-03-30 17:52] omridevk commented on #7
Please see the latest release:
https://www.npmjs.com/package/ng-keyboard-shortcuts/v/7.0.3

[2019-03-30 17:52] #7 closed

[2019-03-30 21:38] omridevk commented on #8
Please feel free to open any new issue with regards to the new breaking changes.

[2019-03-31 08:35] amr-alamir opened #11 "Adding to a lazy-loaded feature module"
I tried to add `KeyboardShortcutsModule` to a lazy-loaded feature module, It failed  with the error
`BrowserModule has already been loaded`
how can I fix this?

[2019-03-31 08:53] omridevk commented on #11
can you please provide a sandbox minimal example?
Thanks.

[2019-03-31 08:54] omridevk commented on #11
I will try to look into it in the mean time.

Thanks for reporting the issue. I'll let you know if there's a workaround or a new version is needed.

[2019-03-31 09:11] amr-alamir commented on #11
I'll prepare a stackblitz soon, thank you

[2019-03-31 09:49] omridevk commented on #11
@amr-alamir
Fixed here:
https://github.com/omridevk/ng-keyboard-shortcuts/commit/626153c8812dc633b0c767afdf1a71d8da69205d

Please install version 7.0.8 and let me know if the issue is resolved.

Thanks again for reporting the issue.
Re-open if persist please.

[2019-03-31 09:49] #11 closed

[2019-03-31 14:55] amr-alamir commented on #11
@omridevk  Thank you, it works now.
what about the `forRoot()` part? is it OK to omit it?

[2019-03-31 16:16] omridevk commented on #11
Nope, as we rely on two singletons services

[2019-03-31 19:52] omridevk commented on #11
Plus, forRoot is needed to support lazy loaded modules that need to share a singleton service, which is the case in this module. The library uses a private service to manage all the registered shortcuts and their removal when a component associated with the shortcuts is destroyed. This ensure consistent behavior across multiple modules and allow the creation of an help screen that contains the lis

[2019-05-14 17:51] ebaptistella opened #14 "A shortcut backspace does not working"
**Describe the bug**
I like to use shortcuts with key "backspace", but apparently its does not work.

**To Reproduce**
Define in the component.ts
[code]

In html source:
`<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>`

**Expected behavior**
The behavior expected when backspace key is pressed is executed the command function, as when the combination key "cmd + j" is execut

[2019-05-14 18:55] #14 closed

[2019-05-14 20:26] omridevk commented on #14
@ebaptistella
First, thanks for reporting the issue.
Second, Were you able to get it to work?

Appreciate

[2019-05-14 20:35] ebaptistella commented on #14
Hello, this code is functional, your library works as expected!
Thanks for your support.

[2019-05-15 11:39] pszalanski opened #15 "Make the help screen close by pressing escape"
It would be great if I could close the help screen by pressing `escape`.

[2019-05-15 11:57] omridevk commented on #15
@pszalanski
Will add in the next release, that's a great idea Thanks :)
For now, as a workaround, you can do the following (in the component where you render the help screen):
[code]
then you can add a custom shortcut component in your template that will close the help screen using the public method exposed by the component (toggle).
I'll soon provide a codesendbox example.

[2019-05-15 12:05] omridevk commented on #15
see example here:
https://codesandbox.io/s/00m8ozl0v0

[2019-05-15 12:17] pszalanski commented on #15
Great! Thanks for replying so quickly.

Good workaround, I'll try it out if I find the time. Otherwise waiting for the next version is also fine by me.

[2019-05-15 16:42] ebaptistella opened #16 "[FEATURE REQUEST] Use regex or negative sentences to define shortcut keys"
I would like to use negative sentences for setting the shortcut keys, or better, a regex option.

For example: In the latest version, I can define shortcuts for all numbers
[code]
I would like to define a rule to fire an event if I press any key that is not a number, as I'm suggesting:
[code]

Or better, using regex, it would be very easy:
[code]

Or simply, `key: [a-zA-Z]`

[2019-05-15 16:47] omridevk commented on #16
I don't have too much to disagree with this feature, my only concern is with rendering the help screen, as it currently parses the key to display it, using regex will make it difficult to convey the hotkey trigger in the help menu. I need to think of a solution for that before implementing such feature, I am thinking of several solutions. will add it to the roadmap.
Thanks for the great suggestion

[2019-05-16 02:02] JojiePalahang opened #17 "Inquiry only : How we managed shortcut keys for the application"
Hi @omridevk  - I just want to ask about how we can manage the shortcut key for the whole app.

- Is it per component?

- I have a parent-child component that has the same shortcut key, how can Isolate the shortcut keys per component?

Thanks a lot 👍  for any response.

[2019-05-16 08:02] omridevk commented on #17
@JojiePalahang
1. When you use the <ng-keyboard-shortcuts> component, it registered the key globally, so if you have two <ng-keyboard-shortcuts> in the same tree, they will override each other ( as long as they are both are not destroyed).
But when a component that holds an <ng-keyboard-shortcuts> is destroyed, so is the registered key associated with the component is removed from the global regis

[2019-05-16 09:07] ghost commented on #17
Thanks - Great yup it's clear now, we can now close this ticket.

[2019-05-16 09:07] #17 closed

[2019-05-17 14:55] hunzaboy opened #18 "Prevent Default not working as expected"
**Describe the bug**
I have created a single character shortcut (F).  But when press e.g Ctrl+ F, it triggers both of them. However, I don't want it to trigger my custom shortcut, as its not the complete shortcut.

`
 this.shortcuts.push({
      key: ['f'],
      label: 'Label',
      description: 'shortcut description',
      command: e => {
      },
      preventDefault: false
    });
`

**To Re

[2019-05-17 17:08] omridevk commented on #18
Thanks, will be handled in the next release. hopefully by the end of next week.

[2019-05-17 19:39] sidikhanrei opened #19 "cmd + b Not Working"
I was try this plugins and work for some combinations.
But when I tried **cmd / ctrl + b** is not working

[2019-05-18 00:55] omridevk commented on #19
see working example here:
https://codesandbox.io/s/ngkeyboardshortcuts-example-t8h4j

[2019-05-18 00:57] omridevk commented on #19
Please provide a codesandbox example demonstrating the issue as I cannot reproduce.
And Thanks for reporting it in the first place :)

[2019-05-18 00:57] omridevk commented on #19
Feel free to re-open if issue persist.

[2019-05-18 01:16] sidikhanrei commented on #19
Please have a look at console.
No feedback for command: e => console.log(e),

it is not responding to ctrl + b

![image](https://user-images.githubusercontent.com/10180529/57962753-480c9800-7945-11e9-8002-2ce40e5e8ab8.png)

[2019-05-18 10:12] omridevk commented on #19
Which operating system are you using? Thanks

[2019-05-18 14:55] sidikhanrei commented on #19
I am using Win 10

[2019-05-18 14:57] omridevk commented on #19
@sidikhanrei
Sorry, should have asked all of these questions in the first place:
Desktop (please complete the following information):

OS: Windows 10
Browser [e.g. chrome, safari]
Version [e.g. 22]

Thanks, sorry for the back and forth on this.

[2019-05-18 15:11] sidikhanrei commented on #19
@omridevk

OS: Windows 10
Browser: Chrome
Version: 74.0.3729.157 (Official Build) (64-bit)

I've tested on Firefox and its not working too.

Thank you for your response

[2019-05-18 15:15] sidikhanrei commented on #19
This is my code,

- ctrl + i = work
- ctrl + s = work
- ctrl + e = work
- ctrl + b = not working

[code]

[2019-05-18 15:29] omridevk commented on #19
@sidikhanrei
I am having hard time reproducing the issue, when I go to the following sandbox:
https://codesandbox.io/s/ngkeyboardshortcuts-example-iv7ow
I do see output in the console.
tested both in Windows 10 with Chrome Version 74.0.3729.157 (Official Build) (64-bit) and Firefox.
Also tested in Mac with Chrome and Firefox, and seems to be working as expected.

Can you please the enter following

[2019-05-18 15:31] sidikhanrei commented on #19
It would be my pleasure

[2019-05-18 15:50] omridevk commented on #19
Closing the issue. The issue was resolved in the gitter thread:
https://gitter.im/ng-keyboard-shortcuts/community#
Basically, a collision between electron key binding and angular.
Thanks @sidikhanrei for reporting and helping resolving the issue.

[2019-05-18 15:50] #19 closed

[2019-05-18 15:50] sidikhanrei commented on #19
It's perfectly working now.

Thank you so much @omridevk
it's not issue with your plugins.
Your plugins seem overided by some code of my electron.

Its fix now
and work like a charm

[2019-05-18 15:58] omridevk commented on #15
@pszalanski
As I do not want to hard code the close key binding, I would rather add another ```@Input``` to the help screen component, closeKey or something similar, that will allow you to pass whatever key you want(escape key in your case).
I am currently thinking if I want to default it to escape(or not to provide default), since it will mean that escape will always be a shortcut in your app, wh

[2019-05-21 04:50] JojiePalahang opened #22 "Minor Issue : Typo on the ReadMe Page"
**Describe the bug**
Just checking some snippets codes haven't check all yet.

**To Reproduce**
Npm js page.

  **KeyboardShortcutsModule.foRoot()**

**Expected behavior**
should be
  **_KeyboardShortcutsModule.forRoot()_**

**Screenshots**
![Capture](https://user-images.githubusercontent.com/19182512/58069229-fbd08a80-7bc6-11e9-8820-1340dc8c4115.JPG)

[2019-05-21 07:46] omridevk commented on #22
@JojiePalahang
Thanks a lot, however, this was already fixed, I haven't released a new version to NPM with the readme changes. will do so sometimes this week.
Again thanks for reporting the issue.

[2019-05-21 07:47] #22 closed

[2019-05-21 07:48] omridevk commented on #18
will hopefully release a minor release this weekend to address this issue, thank you for your patience.

[2019-05-21 08:14] hunzaboy opened #23 "Multiple imports to make it work"
Hi,

Firstly thank you for the great library.

Secondly, I have an application with multiple modules so importing it to app.module doesn't work globally.

I have to import it in every single module. Is this supposed to work like this or is this a bug?

Thanks :)

[2019-05-21 13:33] jnfaerch opened #24 "Shortcut modal overflows and does not scroll"
**Describe the bug**
The modal does not scroll when higher than vh (and is not responsive)

**To Reproduce**
Adjust the vh to be less than the modal height or increase the number of shortcuts to overflow the vh

**Expected behavior**
The modal should be visible in its entirety in order for the user to see all shortcuts

**Screenshots**
![ng-keyboard-shortcuts](https://user-images.githubusercontent

[2019-05-21 13:40] jnfaerch commented on #23
FYI I have multiple component modules but the shortcuts and help modal still work globally when only in the app.module:
[code]

[2019-05-21 17:52] hunzaboy commented on #23
The help modal works but if i add shortcuts directive then it gives error unless I import them again in my module.

[2019-05-22 08:20] omridevk commented on #23
@hunzaboy
Thanks for reporting the issue.
@jnfaerch  thanks for the assistance here, much appreciated :)

@hunzaboy
What happens when you use the ng-keyboard-shortcuts component? do you have to import the module again in each module for it to work?

Plus, is it possible for you to create a minimal example codesandbox, you can fork this base one:
https://codesandbox.io/s/ngkeyboardshortcuts-example

[2019-05-22 12:54] omridevk commented on #24
@jnfaerch
Yes I am currently aware of (prevent default inside passive event warning)
Will be fixed in the new release.
I will try to provide a workaround later today or tomorrow.
Thanks for reporting the issue, sorry for the inconvenience.

[2019-05-22 12:57] omridevk commented on #24
a version should be released either this weekend, or by mid next week.
Thanks for the patience.

[2019-05-24 15:59] #18 closed

[2019-05-24 16:06] #24 closed

[2019-05-24 16:07] omridevk commented on #15
added ```closeKey``` input to ng-keyboard-shortcuts-help

[2019-05-24 16:07] #15 closed

[2019-05-24 16:32] omridevk commented on #24
fixed in this version:
https://github.com/omridevk/ng-keyboard-shortcuts/releases/tag/7.0.11
Let me know if the issue persist.
Thanks for the reporting the bug.

[2019-05-24 16:34] omridevk commented on #18
fixed here:
https://github.com/omridevk/ng-keyboard-shortcuts/releases/tag/7.0.11

[2019-05-24 16:35] omridevk commented on #15
Please re-open if not working for some reason.
Thanks for the suggestion.

[2019-05-24 16:35] omridevk commented on #23
@hunzaboy
I was not able to reproduce the issue, can you please provide a minimal example in codesandbox using this base:
https://codesandbox.io/s/ngkeyboardshortcuts-example-jvbe5
Thanks a lot :)

[2019-05-25 12:00] jnfaerch opened #27 "Introduce 'standard' web shortcuts?"
**Is your feature request related to a problem? Please describe.**
More and more sites have the same set of shortcuts that are not included in this great plug-in. For instance it is not possible to call the help modal with key `?` like GitHub uses.

**Describe the solution you'd like**
It would be great to have the option of using the 'standard' set of web shortcuts. GitHub as an example:
- `?` gi

[2019-05-25 12:45] omridevk commented on #27
It is needed in my road map to add support for key sequences.
I do not have ETA yet, but I am thinking of a different implementation that will support key sequences.
I will mostly be basing my implementation on Mousetrap library.

[2019-05-25 13:31] omridevk commented on #27
There's seems to be an issue with binding to ``` ? ``` key, will fix it in the next version, before even adding support for sequences, which will come in the next major version(no ETA though, still thinking of an optimized solution for this problem)

[2019-05-26 12:54] jnfaerch commented on #27
Yeah I saw it was missing in the key file.

Would love to help but don't think I'm capable of it yet (only started coding last year). Working hard on my skills though.

[2019-05-26 12:55] omridevk commented on #27
@jnfaerch
No worries, I will release a fix for "?" and any shift required keys like ">" later today, if not today, then by the end of the week (I already have a fix for that)

[2019-05-27 12:57] omridevk commented on #27
A quick update:
I am currently in the finishing stages of adding full support for key sequences, the API will be the same, but instead of "g+ c" you will declare a sequence like so: "g c"
we will have support for sequences like:
``` up up down down left right left right b a enter ``` (konami code)
There's one caveat which I will mention in the documentation once this feature is released.
I will re

[2019-05-27 23:24] omridevk commented on #27
Released version [7.1.2](https://github.com/omridevk/ng-keyboard-shortcuts/releases/tag/7.1.2) with support for key sequences and fix for "?" and other shift required keys
Please feel free to install and provide any feedback, I have worked hard to make sure it works properly, but there may be some bugs or edge cases that I may have missed. feel free to report any new issue.
See more information ab

[2019-05-27 23:24] #27 closed

[2019-05-28 06:19] jnfaerch opened #29 "[closeKey]="'escape'" seems to be broken in 7.1.2"
**Describe the bug** (minor problem ;)
`[closeKey]="'escape'"` does not work on `<ng-keyboard-shortcuts-help [key]="'?'" [closeKey]="'escape'"></ng-keyboard-shortcuts-help>`

**To Reproduce**
Steps to reproduce the behavior:
1. Insert `[closeKey]="'escape'"` in your help element
2. Open the keyboard shortcuts modal
3. Click the `escape` key

**Expected behavior**
The modal is supposed to close on

[2019-05-28 08:12] hunzaboy commented on #23
Thanks for getting back. I am currently on vacations so I will have a look again after the latest update and will reopen the ticket if necessary. Thanks.

To answer your questions, when I have multiple modules, I have to import the lib in each module, if not then I get the error of unknown directive/component in console.

[2019-05-28 08:12] #23 closed

[2019-05-28 08:39] omridevk commented on #29
@jnfaerch
Thanks for reporting yet another issue :) I really appreciate it :)

Is this a regression or is this feature never worked for since the first time I added it? I suspect this may have been an effect of the new Sequence feature.
Will look into it and hopefully release a quick fix as soon as possible.

My next features on the roadmap are:
1. Adding tests (which should eliminate a lot of sim

[2019-05-28 09:08] jnfaerch commented on #29
Sorry forgot to note it. I don't really remember but since I already had `[closeKey]="'escape'"` in my code I guess(!) it's a regression. Not a big deal though ;)

[2019-05-28 11:44] omridevk commented on #29
@jnfaerch
As a workaround for now, you can use ```[closeKey]```="'esc'"
I will release a version today to address this, that it will support the same syntax as previously, i.e "esc" and "escape", in the meantime, you can use "esc" instead.

[2019-05-28 11:59] jnfaerch commented on #29
`[closeKey]="'esc'"` works perfectly. Thx 👍

[2019-05-28 12:04] jnfaerch commented on #29
Off topic: Cannot figure out if you're trying to be sarcastic in your pay off but grammatically speaking it should be `If it's worth doing, it's worth doing well.` (with the extra `'t`) 😉

[2019-05-28 12:26] omridevk commented on #29
@jnfaerch I actually didn't notice the grammar mistake there until you mentioned it now, wrote it in a hurry I guess :P

[2019-05-28 14:29] omridevk commented on #29
should be fixed now in:
https://github.com/omridevk/ng-keyboard-shortcuts/releases/tag/7.1.3

[2019-05-28 14:29] #29 closed

[2019-07-03 07:51] omridevk opened #33 "Danish keyboard layout support"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
I’m working on a project in foreign country(Denmark) and of course with danish keyboard layout.
I’m trying to make keyboard shortcut like “alt + +” but unfortunately I had no luck.

**Expected behavior**
The shortcut should work as expected

**Desktop (please complete the fol

[2019-07-03 07:56] omridevk opened #34 "Missing aria labels in ng-keyboard-shortcut-help component"
**Describe the bug**
Need to add full support for WAI-ARIA for the modal component.

[2019-07-04 10:04] 838 opened #35 "Prevent Default Space Key in FireFox"
**Describe the bug**
preventDefault on space key is not respected in FireFox

**To Reproduce**
Steps to reproduce the behavior:
1. Create a button with click event
[code]
2. Generate a shortcut
[code]
3. Open inspect element

4. Make sure button has keyboard focus

5. Press space key on keyboard

6. Both click event and shortcut event are triggered.

![Screen Shot 2019-07-04 at 11 43 05 AM](https:

[2019-08-03 18:02] omridevk commented on #35
I will look into it very soon, sorry for the delay guys.

[2019-08-03 18:03] omridevk commented on #33
sorry for the delay, will be releasing a version quite soon.

[2019-08-06 08:48] j2L4e opened #36 "Mousetrap"
I didn't look through the source, but at least this project's README is clearly a modified version of Mousetrap's (https://github.com/ccampbell/mousetrap). It should be (and might be legally required) stated that this is the case (Apache 2).

Edit: To be fair, it seems to be mainly the part about gmail style sequences that caught my attention. Not saying all of this is just a copy!

[2019-08-06 09:08] j2L4e commented on #36
It's just a single sentence that was copied. I totally misjudged this. Please bear with me.

[2019-08-06 09:08] #36 closed

[2019-08-06 09:29] omridevk commented on #36
@j2L4e
No problem :) I agree, I have copied that specific line from mousetrap, since it just fun as I am a fan of Konami games (not the corp).
But I can assure that the rest of the library was not copied from Mousetrap in any way whatsoever. I was inspired and learned some stuff from their source code.

[2019-09-02 16:30] Goobles opened #37 "ng-keyboard-shortcuts imports from rxjs/internals"
**Describe the bug**
This module imports from rxjs/internals
https://github.com/omridevk/ng-keyboard-shortcuts/blob/9bbd6a8b38359f8c21697bd2da00893bb326aec4/projects/ng-keyboard-shortcuts/src/lib/ng-keyboard-shortcuts-help.component.ts#L20

This is not recommended and will increase the bundle size by including all of rxjs

[2019-09-02 16:37] omridevk commented on #37
Thank you, will be fixed in the next release, hopefully i will get to it soon as angular 9 is released.
Thanks again for the nice catch.

[2019-09-04 08:55] omridevk commented on #37
@Goobles
Of course, feel free to create a PR if you wish, I will try to get it to as soon as possible.

[2019-09-18 13:04] abitofdev opened #38 "Sequence with key modifiers"
**Describe the bug**
Creating a sequence with modifier keys does not trigger the shortcut command.

**To Reproduce**
Steps to reproduce the behavior:
1. Register a keyboard shortcut with a sequence containing a key modifier (CTRL, ALT, etc...)

[code]
2. The normal sequence will print the key combination to the console but the modifier sequence will not.

**Expected behavior**
The command should b

[2019-09-19 10:11] omridevk commented on #38
Thank you for reporting the issue.
Currently, sequences and combination do not work together in the same shortcut, it was never tested before.
I can add it to the roadmap, though it might need some redesign to support such use case, and I would like to hear more from the small community of users we have here if this feature is needed.

For now, I will add it as a known limitation but I will look i

[2019-09-22 11:27] abitofdev commented on #38
Thanks for the speedy response, I have a local branch with a working fix to support sequences with combinations although i don't have permission to create a remote branch in order to do a PR.

Would you be willing to allow branch creation in order for potential contributes like me to assist in the development of the project?

[2019-10-14 13:35] Bone008 opened #40 "Support non-English keyboards and characters by using KeyboardEvent.key"
**Describe the bug**
Trying to register shortcuts for special characters (for example `#`) does not work with a non-US keyboard layout.
Registering letters not in the English alphabet (for example the German "ä") is completely impossible.

**Cause**
Currently [this library seems to use](https://github.com/omridevk/ng-keyboard-shortcuts/blob/master/projects/ng-keyboard-shortcuts/src/lib/ng-keyboard

[2019-10-14 13:38] Bone008 commented on #40
Also, I haven't found any way to register the `+` key as a shortcut, since it has a special meaning for combinations and I cannot find any special name for it that the library understands :(

[2019-10-15 13:14] omridevk commented on #40
@Bone008
Thanks a lot of reporting the issue.
Yes right now there's a known issue for registering the plus key, I will address it in the next release, I had some personal matters that had to be taken care, thus I was not able to provide a version.
But I assure you I will try to address this as soon as possible.
And please feel free to submit a PR, it will be much appreciated.

[2019-10-15 14:29] omridevk commented on #40
@Bone008
Thanks for the suggestion for using event.key, it will solve some of the issues (mapping of special characters), but I am still not sure how to resolve the issue of using non-english characters (I am from Israel so I tried to test it with Hebrew characters). The browser keydown event key property will contain the english letter when any of the meta keys are pressed while clicking, so if y

[2019-10-15 14:32] omridevk commented on #33
will be addressed in:
https://github.com/omridevk/ng-keyboard-shortcuts/issues/40

[2019-10-15 14:32] #33 closed

[2019-11-05 10:32] Bone008 commented on #40
@omridevk I apologize for the super late reply, somehow I received no notification of your second response. Thank you so much for considering my feedback!

I am not sure what issue you are seeing with "control + ä" or other events with meta keys being pressed. According to my tests (I found [keycode.info](https://keycode.info/) to be a good resource), when I press "control + ä", the keydown event

[2019-11-05 10:38] omridevk commented on #40
@Bone008
Thanks for your reply, I will give it another go, I will try to address 1, 2 as soon as possible.
Will try to check with german layout.
And sorry for the delay.

[2019-11-07 08:44] petterkjeilen commented on #17
Hi @omridevk Any news on support for binding to the same shortcut in multiple components ?

[2019-11-07 15:27] omridevk commented on #17
Hi sorry for delay, I have a working local branch with multiple binding support, but I have an issue with making it work while keeping the debounce/throttle works, which is very important since it will a breaking change, if I can't get the debounce/throttle to work.
I am still thinking of a solution for this.
And again sorry for the delay, I had little time to maintain the library, but soon hopefu

[2019-12-18 13:41] yarres opened #42 "Allow to differentiate between pressing key and modifier + key"
In my use case, the user should be able to create a shortcut for a specific key (e.g. 'n') and another shortcut for the same key with a shift modifier (e.g. 'shift + n').

While using the package I was not able to make it work.

Here's a simplified example where both shortcuts will be triggered at the same time when the user enters 'shift + n'. The user would only want action B to be triggered.

[

[2019-12-18 14:23] yarres commented on #42
Since `ctrl` and `alt` are available as alternatives, it's not that big a deal if  `shift + n`  and `n` are not distinguished by the package. The trade offs might not be acceptable.

[2019-12-20 13:13] omridevk commented on #42
I will look into it, AFAIK the longer sequence should win and be fire, but it I assume it depends on the order it was pressed. i.e if I pressed ```n``` then pressed shift while holding "n" I assume both events will fire, first the n, then the shift + n.
however, if shift is clicked first, I would expect that only the shift + n would fire.
Do you agree that this an acceptable behavior?
Or do you th

[2019-12-20 13:18] omridevk commented on #42
In general, since there's a library that does very similar thing to what I do just not written with Rxjs or angular in mind (mousetrap), I try to keep feature parity with them and behavior parity as well, just for consistency has mousetrap has been the de-facto library for a while now for handling keyboard shortcut and I wouldn't want to diverge too much from their model.
I will check how they han

[2019-12-20 18:11] omridevk commented on #42
solved in version:
https://github.com/omridevk/ng-keyboard-shortcuts/releases/tag/8.2.0
please update and let me know if the issue persist.
[code]

Notice the change, instead of saying shift + n, i.e capital n, you should write capital N instead.
Thanks. let me know if this solution is good enough for you.

[2019-12-20 18:11] #42 closed

[2019-12-20 18:12] omridevk commented on #40
Closing this for now as most of it was fixed in:
https://github.com/omridevk/ng-keyboard-shortcuts/releases/tag/8.2.0
@Bone008
If you can play around with this version and see if any issue still remains.
notice you can now use "plus" escape to bind to the + character.

[2019-12-20 18:12] #40 closed

[2019-12-20 18:13] omridevk commented on #37
done.

[2019-12-20 18:13] #37 closed

[2019-12-20 18:13] omridevk commented on #37
https://github.com/omridevk/ng-keyboard-shortcuts/releases/tag/8.2.0

[2019-12-20 20:19] omridevk commented on #34
sorry, I have done the best I can in term of aria, not sure what else I can about the modal.

[2019-12-20 20:19] #34 closed

[2019-12-20 20:27] omridevk commented on #34
https://github.com/omridevk/ng-keyboard-shortcuts/pull/46

[2019-12-20 20:28] omridevk commented on #38
Still thinking about this. will have a more in depth look next weekend. sorry for the delay.

[2019-12-20 20:41] omridevk commented on #16
closing lack of interest, will open if will be relevant again.

[2019-12-20 20:41] #16 closed

[2019-12-20 21:04] Bone008 commented on #40
Thank you so much for looking into this! I updated and it works great. No matter which keyboard layout I pick, special characters get picked up exactly as expected (including the ones only reachable through a combination with shift, such as `Shift + ß` --> `?` in German). Even keys that require "dead keys" to enter them work, such as the French  `é` -- I don't think anyone in their right mind shou

[2019-12-20 21:18] omridevk commented on #40
This is not the change, perhaps the docs are not clear, all it means that if you want to use the character + you would have to write "plus" and not "+", since that never worked before.
all previous shortcuts should work the same and should not be affected by this change, otherwise it would have been a breaking change. which is not. at least not from the tests I have performed.

I see your point, l

[2019-12-20 21:24] omridevk commented on #40
I have checked and all keyboards short cuts like "ctrl + shift + f" still works as expected.

[2019-12-20 21:30] omridevk commented on #40
Guess i'll have to adress that issue, thanks a lot for bringing that up.

[2019-12-20 21:30] Bone008 commented on #40
Using version 8.2.0, registering the command `"shift + n"` definitely no longer works for me, neither does `"shift + N"`, but uppercase `"N"` works, tried it with US, German and even Hebrew keyboard layout.

I thought [your comment in issue 42](https://github.com/omridevk/ng-keyboard-shortcuts/issues/42#issuecomment-568024664) implied that the change was intentional.

[2019-12-20 21:36] Bone008 opened #47 "Some keys do not get recognized on non-US keyboard layouts"
**Describe the bug**

After the fix for #40, some keys still don't get through, for example the German `ä`. I tracked it down to all keys which are in the `_KEYCODE_MAP` and different from the US layout. The `ä` key has keycode 222, which is `'` on US keyboards, so that's what the library maps it to [due to characterFromEvent(...) using event.which before accessing event.key](https://github.com/om

[2019-12-20 23:01] omridevk commented on #40
yes. I am fixing it now
will release version 8.2.3, please let me know if works.
intentional but without care for the side effects, happens when working long hours :P

[2019-12-20 23:05] omridevk commented on #40
okay version 8.2.3 is up and running, can you please check, or better yet, create a sandbox for us to play with?
you can fork my original sandbox:
https://codesandbox.io/s/ngkeyboardshortcuts-example-oft3z

[2019-12-20 23:06] omridevk commented on #40
And thank you for the help, it is much appreciated!!!

[2019-12-20 23:07] omridevk commented on #40
i will update my comment in the original issue with the new solution.

[2020-01-10 11:38] vnyre opened #48 "Please update the peerDependencies to support Angular 8 (and later versions)"
Your major package.json seems to be updated to support Angular 8 (churn #32)

After installing version 8.2.3, i do get the npm warnings.

npm WARN ng-keyboard-shortcuts@8.2.3 requires a peer of @angular/common@^7.0.0 but none is installed. You must install peer dependencies yourself.
npm WARN ng-keyboard-shortcuts@8.2.3 requires a peer of core-js@^2.5.4 but none is installed. You must install peer

[2020-01-10 11:52] omridevk commented on #48
@vnyre
Yes, you may ignore them for now. I will update peerDepedency in package.json file and release a new version.
Thanks for reporting the issue.

[2020-01-10 12:00] omridevk commented on #48
fixed here:
https://github.com/omridevk/ng-keyboard-shortcuts/pull/49

[2020-01-10 12:04] omridevk commented on #48
Released in this version:
https://github.com/omridevk/ng-keyboard-shortcuts/releases/tag/8.2.4
Please enjoy.
Let me know if the issue persist and re-open the ticket.
And thanks again for the reporting the issue, much appreciated

[2020-01-10 12:04] #48 closed

[2020-01-10 12:14] omridevk commented on #48
@vnyre
Regarding core-js, it is only needed if you need to support non-evergreen browsers, e.g IE11, IE10, since I use some ES2015/2016 methods that needs to be polyfilled for older browsers. but if you are not planning to support those browsers, you can go a head and ignore that warning and not install core-js.

[2020-01-10 12:31] vnyre commented on #48
Greatest thanks for your quick replies

From: Omri
Sent: ‎Friday‎, ‎January‎ ‎10‎, ‎2020 ‎1‎:‎14‎ ‎PM
To: omridevk/ng-keyboard-shortcuts
Cc: Valerie Nyre, Mention

@vnyre
Regarding core-js, it is only needed if you need to support non-evergreen browsers, e.g IE11, IE10, since I use some ES2015/2016 methods that needs to be polyfilled for older browsers. but if you are not planning to support those

[2020-01-15 20:15] amr-alamir opened #50 "ShortcutInput "target" trigger the command even if the target element is NOT in focus"
I can't get the `target` prop of `ShortcutInput` interface to limit command triggering only when the target is in focus.

I created [this stackblitz](https://stackblitz.com/edit/ng-keyboard-shortcuts-target) in which a value is supposed to change with up and down arrow only if input has focus

here is a code snippet
[code]

In either case ( input focused or not ) value is still changing.

what am

[2020-01-15 21:11] omridevk commented on #50
It seems like a regression, i'll have look into it, will update tomorrow.
Thanks for reporting the issue.

[2020-01-15 21:12] omridevk commented on #50
And thanks for the stackblitz which made it a lot easier to see the issue.

[2020-01-15 21:15] omridevk commented on #50
Yes, this indeed seems like a regression bug, i'll fix it ASAP. thanks a lot for reporting the issue (this issue only happens when using sequences, and since one key counts as sequence (at least as far as the code goes).
Sorry for the inconvenience.

[2020-01-15 21:18] omridevk commented on #50
k, found the root cause of the issue:
https://github.com/omridevk/ng-keyboard-shortcuts/blob/master/projects/ng-keyboard-shortcuts/src/lib/ng-keyboard-shortcuts.service.ts#L155-L157
seems like I have not implemented the same behavior in the sequences code.
Will have a new version released tomorrow. thanks for the patience and again thanks for catching the issue.
Hopefully my tests (going to add so

[2020-01-15 22:50] amr-alamir commented on #50
Thank you for the quick response and for all these efforts that make our life easier ☺.

[2020-01-16 15:22] omridevk commented on #50
@amr-alamir
Fixed in version:
https://github.com/omridevk/ng-keyboard-shortcuts/releases/tag/8.2.5

Please feel free to update via NPM.
And please let me know if the issue persist.

[2020-01-16 15:22] omridevk commented on #50
Closing, please re-open if issue persist.

[2020-01-16 15:22] #50 closed

[2020-01-17 14:16] amr-alamir commented on #50
Thank you for the fix, and here is the [working stackblitz](https://stackblitz.com/edit/ng-keyboard-shortcuts-target-fixed)

[2020-01-17 17:55] omridevk commented on #50
I'll update the documentation example to include such use use cass

[2020-02-07 13:11] yarres opened #52 "Compatibility with angular 9"
I tested to update an application to angular 9 via ` ng update @angular/cli @angular/core `, turns out it's impossible. Here's the error message :
` Package "ng-keyboard-shortcuts" has an incompatible peer dependency to "zone.js" (requires "^0.9.1", would install "0.10.2").`

I have no idea if the compatibility to angular 9 of your package is trivial or complex but that feature would be really use

[2020-02-07 13:29] omridevk commented on #52
I have a task to support angular 9, hopefully i will release a version this weekend, sorry for the inconvenience.
And thank you very much for reporting the issue.
Will update this ticket once a fix is released.

[2020-02-07 15:27] jnfaerch commented on #52
Just add `--force` to update. This library works fine in Angular 9

[2020-02-07 17:52] yarres commented on #52
Thanks for your very prompt answer, it's appreciated.

[2020-02-07 19:37] omridevk commented on #52
yes, the issue is just with the dependencies, I am will add depdenpot soon so these sort of problems will go away.
thanks @jnfaerch for the good advise!

[2020-02-07 19:38] omridevk commented on #52
the library itself does not use any of angular features with breaking changes in angular 9.

[2020-02-12 16:38] takashi1kun opened #53 "BUG: Onclick events bugged"
**Describe the bug**
After executing a shortcode onclick events become unresponsive nad you need to click 2 times to restore to normal behavior

**To Reproduce**
Steps to reproduce the behavior:
1. use a shortcut
2. Click on button
3. it doesn't work
4. you need to push the button again

**Expected behavior**
for a shortcut to not alter onclick behavior

**Desktop (please complete the following in

[2020-02-12 17:15] omridevk commented on #53
Thank you for reporting the issue, I'll look into it asap

[2020-02-13 08:13] takashi1kun commented on #53
Thanks, after more testing i discovered that this doesn't apply only to buttons, but to near every onclick event like exiting a dialog touching the overlay backdrop, etc.
I also discovered that this **only happens with a shortcut that has the preventDefault** property on true, but for example doesn't block exiting from a dialog with only a single "esc" so it seems to only affect mouse clicks but t

[2020-02-13 08:34] takashi1kun commented on #53
@omridevk  here i replicated the behavior in a modified version of the demo:
[https://codesandbox.io/s/ng-keyboard-shortcuts-example-x00v3?fontsize=14&hidenavigation=1&theme=dark](https://codesandbox.io/s/ng-keyboard-shortcuts-example-x00v3?fontsize=14&hidenavigation=1&theme=dark )
if you click the button without any shortcut it would work as normal, but if you push ctrl + f that is a shortcut wit

[2020-02-13 10:22] omridevk commented on #53
@takashi1kun
Thanks a lot for the effort and for providing an example, I assume this has something to do with the help modal component who might be preventing clicks from happening.
Hopefully i'll release a fix for this and a new version this weekend.

[2020-02-13 10:43] takashi1kun commented on #53
I'm not so sure about that, in my project i'm not using the help component because i already had one for other things, so instead of using the  shortcuts's help component i just hand added the shortcuts in my own help dialog.

[2020-02-13 11:37] omridevk commented on #53
@takashi1kun
Unrelated question
When you built you help component, how did make sure all the shortcuts are displayed in the help menu?
because the library also provides a service and helps you build/integrate with existing help menu/screens.
See:
https://github.com/omridevk/ng-keyboard-shortcuts#service
You can subscribe the shortcuts Observable to get a list of all active shortcuts in your entire

[2020-02-13 11:39] omridevk commented on #53
Okay, I found the root cause:
https://github.com/omridevk/ng-keyboard-shortcuts/blob/master/projects/ng-keyboard-shortcuts/src/lib/ng-keyboard-shortcuts.service.ts#L135

Seems to be a regression due to the bug we had in Firefox. I will see how I can resolve this issue without affecting the previous one.

[2020-02-13 11:42] takashi1kun commented on #53
I didn't, i added them manually, in the sense that i hard coded them in the html.

[2020-02-13 11:43] omridevk commented on #53
I see, you can have a look at how I built the help component, as it may be easier to maintain if you keep one single source of truth and not have to update the HTML if you change/add/modify existing shortcuts.

[2020-02-13 11:51] omridevk commented on #53
this means that you can use this version:
https://github.com/omridevk/ng-keyboard-shortcuts/releases/tag/8.2.0
until I resolve the issue.

[2020-02-18 11:30] lkurylo opened #64 "Problem with navigator and Angular Universal"
I'm trying to set up an Angular Universal and I have a problem with call to navigator in keys.ts:

node .\dist\server.js
D:\repo\Budget\SRC\Trunk\Budget.Api\UI\dist\server.js:300301
var isMac = (navigator.userAgent.indexOf('Mac OS') !== -1);

ReferenceError: navigator is not defined

I tried using domino and MockBrowser as a workaround but with no result.

[code]

[2020-02-18 12:12] omridevk commented on #64
cool use case, however I have never tested this library with Angular Universal, I assume it might have some compatibility issue since I do use some browser API and not Angular adapters to achieve it.
I think supporting it might not be straight forward as it is.
Especially since my limited knowledge of Angular Universal.
I will try to look into it regardless.
Thanks a lot for reporting the issue.
I

[2020-03-08 18:47] omridevk commented on #53
@takashi1kun
Sorry for the delay, I will try to release a fix soon, or revert the PR the caused this, as this is regression and must be handled.
Thanks for the patience.

[2020-03-09 08:46] takashi1kun commented on #53
@omridevk Thank you very much, for the moment i am using the version you suggested.

[2020-03-10 09:31] lambdadbmal commented on #53
I have a same issue on Chrome 80.0.3987.132 (Mac OS) + Angular 8.2.14 + ng-keyboard-shortcuts 8.2.5.
Unfortunately, ng-keyboard-shortcuts 8.2.0 is not suit for my situation.
I am waiting for next version.
Thank you for your very useful software!

[2020-03-25 22:13] omridevk commented on #53
I am going to revert the firefox as it seems to be a bug in Firefox itself:
https://bugzilla.mozilla.org/show_bug.cgi?id=1487102
so I'll re-open the firefox bug and keep track there.

[2020-03-25 22:15] omridevk commented on #35
re-opening this, as I will revert the PR as it seems to be a bug in Firefox itself and caused regression in this library in other browsers:
https://bugzilla.mozilla.org/show_bug.cgi?id=1487102
I'll keep track of the firefox, but hopefully they will resolve it soon, so the keydown event prevent default won't trigger mouse click event.

[2020-03-25 22:25] #52 closed

[2020-03-25 22:25] omridevk commented on #52
fixed

[2020-03-25 22:26] omridevk commented on #53
closing
will be fixed in 8.2.6
will be released in the next hour or so.
feel free to update.
Reopen if issue persist please.

[2020-03-25 22:26] #53 closed

[2020-04-28 15:20] thoussem opened #67 "add the KeyboardShortcutsService to the exported API"
**Is your feature request related to a problem? Please describe.**
I have to add the 'ng-keyboard-shortcuts' component every time i want to subscribe to a shortcut:
[code]

**Describe the solution you'd like**
Inject directly the service and use it:
[code]

[2020-04-28 15:38] omridevk commented on #67
@thoussem
Thank you for your suggestion, older version of the library used to work with a service, but I have decided to have more to a more declarative API and I have left the select option to keep backward compatible.
I was wondering what is the use case? of using the select and not adding an action directly to the shortcut?
not that I am against your suggestion, it could make sense to expose su

[2020-04-28 15:46] omridevk commented on #67
I mean I am thinking of deprecating the ```select``` method on the component and directives, I my self couldn't find a useful case for it. as you can always make a subject and next on it with the event inside the command callback. but again, I assume your use case is valid so I might choose to expose such service, it just I want to keep the surface level of the API as thin as possible and as decla

[2020-05-31 11:26] sygi opened #68 "Support angular 7 in the new versions"
**Describe the bug**
I am using angular 7. When I installed 9.0.0. of ng-keyboard-shortcuts I got the following error when importing the module:
[code]

When I installed version 7.1.3 of ng-keyboard-shortcuts, the library works as expected.

**To Reproduce**
Steps to reproduce the behavior:
1.  Use Angular in version "7.2.16"
2. install ng-keyboard-shortcuts as `npm install -S ng-keyboard-shortcut

[2020-05-31 11:49] omridevk commented on #68
@sygi
Thank you for reporting the issue.
I will address this ASAP.

[2020-05-31 15:00] omridevk commented on #68
@sygi
unfortunately, there were breaking changes between angular 7 and 8/9.
What I am going to do this week is release a new version 7.0.x with all the new features just compiled to angular v7, this should resolve the issue.
You will still need to install the specific version as ```npm install ng-keyboard-shortcuts``` will give you the latest version.

[2020-05-31 15:02] omridevk commented on #68
for now, most of the important features also exists on the 8.2.0 I believe. so if you could use this while I create the v7 with all the latest features and update the README accordingly.
Thanks again for reporting the issue.

[2020-05-31 15:11] sygi commented on #68
Thank you for taking look at this issue so promptly.

For me personally, the only feature missing in 7.1.3. is a working "plus" button (#49 . Unless I missed something when testing, 8.2.0. didn't work on angular 7 either.

[2020-06-01 11:27] omridevk commented on #68
@sygi
Happy to help, and thank you again for reporting the issue as I was not aware of this.
Yes that is why it is important to me to get a working version 7 with all bug fixes and features added.
I'll try to get it it as soon as possible, thank you for your patience

[2020-06-29 07:40] brantsrasmus opened #70 "Incorrect dependencies in the github.io site"
The dependencies listed here https://omridevk.github.io/ng-keyboard-shortcuts/dependencies.html looks incorrect from what the package outputs. The dependencies listed on the site is actually the dependencies of your test application. Maybe could be a good idea to update?

[2020-06-29 12:11] omridevk commented on #70
@brantsrasmus
Good catch! thank you, I didn't see that the documentation generated the dependency from the wrong package.json file.
Will update it.
Thanks a lot!

[2020-07-01 15:38] zannkukai opened #71 "Lose focus when 'escape' key is pressed"
Hello,

I try to implement a basic shortcut on "escape" key. When this key was pressed, I would like that the element with focus, lose this focus (any input elements, on any pages of my application). I tried to implements this behavior like this :
[code]

This works but Angular isn't happy with this synthax when I run my tests with the following error message :
`Property 'blur' does not exist on t

[2020-07-01 15:47] omridevk commented on #71
I used the native browser KeyboardEvent type, which does not seem to have blur on the event target, you will have to manually cast it using typescript.
something like:
[code]
Hopefully should fix the typescript error, I will try to see if I can use a different type for my event output type, for now this workaround should solve the Typescript errors and it is not fooling typescript, as you do get t

[2020-07-01 16:11] zannkukai commented on #71
It seems working better ;-) Jasmine tests still raises errors but it's another problem. See you soon about this error on Gitter ;-)

[2020-07-01 16:12] #71 closed

[2020-07-02 09:15] zannkukai opened #72 "Add the help panel key into the shortcut list displayed into the help panel"
**Is your feature request related to a problem? Please describe.**
When we use the component `KeyboardShortcutsHelpComponent`, we need to defined an `key` to open the help panel.
This key isn't added into the shortcut list.
![image](https://user-images.githubusercontent.com/10031585/86339885-69693a00-bc54-11ea-85a0-63b98a03455c.png)

**Describe the solution you'd like**
This key shortcut should be

[2020-07-02 11:30] omridevk commented on #72
@zannkukai
Thank you for reporting the issue.
As I do believe this a bug, but I don't want to break the old API, so I am going to add a boolean Input to the ```ng-keyboard-shortcuts-help ``` component to allow the users to decide whether to add the key to the list or not. I will leave the default value as false for the next couple of versions, and will add some deprecation comments so in the next

[2020-07-11 22:32] #67 closed

[2020-07-11 22:33] #72 closed

[2020-07-11 23:46] omridevk commented on #68
@sygi
I have released https://www.npmjs.com/package/ng-keyboard-shortcuts/v/7.1.10
Which includes all the latest features and bug fixes that version 9 has but was compiled using angular 7 CLI.
I have verified on my end that it is indeed solved.
Please let me know if the issue persist. closing for now
Will also add a version 8 with same procedure.

[2020-07-11 23:46] #68 closed

[2020-07-12 00:57] omridevk commented on #72
Fixed in #75
Let me know if the issue persist.
Updated the readme file with the new Inputs you need to pass to the help component in order for the key to show up in the menu.
Please let me know if this implementation does not fit your needs.
Any feedback will be helpful.
You can install the latest https://www.npmjs.com/package/ng-keyboard-shortcuts/v/10.1.5

[2020-07-12 00:59] omridevk commented on #72
Ah I think I may have forgotten to add input for closingKeyLabel and description.
I will do so right now.

[2020-07-12 02:36] omridevk commented on #70
@brantsrasmus
Currently I couldn't find a way to config compodoc to to read the correct package.json, thus I have removed the dependencies page from the docs for now, until i'll find a workaround. closing for now.

[2020-07-12 02:36] #70 closed

[2020-07-12 02:46] omridevk commented on #72
Done, added option to add to both toggle and close key a description and a label. see new docs for more info :)

[2020-07-15 09:17] StefanKoenigMUC opened #78 "cmd/ctrl + t not working in chrome"
Hi all,

probably desired behavior, but is it possible to "overwrite" chrome's shortcuts? (cmd + t / cmd + n)? Was not able to figure out a way, prevendDefault seems to

[code]

is not working for me, a new tab is opened instead.

Thanks in advance!

[2020-07-15 09:29] omridevk commented on #78
This seems like a browser limitation, as you can see in the sandbox:
https://codesandbox.io/s/optimistic-agnesi-7dffs?file=/src/index.js
I have used a different library, Mousetrap to demonstrate that the issue also appears there.
Specifically "cmd +t" and "cmd +n " cannot be prevented from happening.
I assume it is like this from UX standpoint as it would be weird for a site to disable the option

[2020-07-15 09:29] #78 closed

[2020-07-15 09:31] omridevk commented on #78
@StefanKoenigMUC If you can, please give a star to the repository, also feel free not to :) Hope you this library helped productivity in what you are working on.

[2020-07-21 20:47] CramericaIndustries opened #80 "Description of the directive on the front page is wrong"
The name of the directive is `[ngKeyboardShortcuts]` rather than `[ngKeyboardShortcut]`

[2020-07-21 23:48] omridevk commented on #80
@CramericaIndustries
Thank you very much for reporting the typo.
I will fix ASAP.
thanks again.

[2020-07-22 00:08] omridevk commented on #80
fixed in latest version.
Thank you very much.

[2020-07-22 00:17] omridevk commented on #35
closing, known limitation.

[2020-07-22 00:17] #35 closed

[2020-07-22 00:17] omridevk commented on #38
will close it for now. will rethink this later on.

[2020-07-22 00:17] #38 closed

[2020-07-22 00:18] omridevk commented on #38
@abitofdev
Thanks a lot for the PR! I am really grateful.
I will look into this in the future but can't handle it at the moment.

[2020-07-22 00:20] omridevk commented on #64
@lkurylo
Please provide a minimum example in which I can reproduce so I can check various solutions.
Thanks a lot.
will re-open if still relevant.

[2020-07-22 00:26] omridevk commented on #80
Gotta say I love your nickname and your place of work :).
I named my dog Soda after the episode where George wanted to call their son Seven

[2020-07-22 00:27] omridevk commented on #80
@CramericaIndustries
Gotta say I love your nickname and your place of work :).
I named my dog Soda after the episode where George wanted to call their son Seven

[2020-07-22 07:00] zannkukai opened #81 "Unable to use browser shortcuts"
**Describe the bug**
Hi
I use a shortcut on `c` key, the linked command is very simple : just navigate on a specific url. The problem is that when I tried to use a copy (Command|CTLR + C), this shortcut is fired and my application navigate to this url, and my clipboard stay empty :'(
Is it a way to use « c » as a shortcut and keep the possibility to keep copy/paste behavior ?
[code]

It's the same

[2020-07-22 07:33] CramericaIndustries commented on #80
There is an other problem in the docs. In the `<ng-keyboard-shortcuts-help>` example you have that code...

`<ng-keyboard-shortcuts-help [key]="'f1'" [closeKey]="'escape'" [title]="Help"></ng-keyboard-shortcut-help>`

'Help' is interpreted as a variable instead of a string, so it should be changed to:

`<ng-keyboard-shortcuts-help [key]="'f1'" [closeKey]="'escape'" title="Help"></ng-keyboard-short

[2020-07-22 13:04] omridevk commented on #80
Again nice catch man!!
really appreciate you going through the little details, no sarcasm of course.
Will fix asap,
please let me know if you find any other errors/spelling issues or anything that is wrong in the docs.
Thank you again.

[2020-07-22 13:05] omridevk commented on #80
also you may feel free to make a PR if you want, it as easy as editing the file and fixing it :), you don't have to of course :)

[2020-07-22 13:15] omridevk commented on #81
@zannkukai
This seems like a bug.
I'll look into this weekend.
i'll try to think of a workaround in the meantime.

[2020-07-22 13:16] omridevk commented on #81
Thank you for reporting the issue 👍

[2020-07-23 07:12] CramericaIndustries commented on #80
Well all I wanted is using your lib. But I had no clue how it works so I went through the docs and I stumbled upon these mistakes in the docs.
Anyhow I wanted to use the `<ngKeyboardShortcuts>` directive but somehow it doesn't work. I followed your example code but it just doesn't work. No errors thrown. The `<ng-keyboard-shortcuts>` works fine though.

[2020-07-28 07:14] miguelchico commented on #64
Hi @omridevk

I faced the same issue described here.
I created a super simple repository for you to test the problem: https://github.com/miguelchico/basic-angular-cli-universal

Just install dependencies and then:

- Execute `ng serve` for a non-ssr execution (all works fine)
- Execute `npm run dev:ssr`. It will try to start a development server to serve the app (it is ok if you use the dev server

[2020-07-28 12:18] omridevk commented on #64
@miguelchico
Thank you so much for providing this information
I will look into it ASAP and hopefully can provide a solution that will work for both platforms.
Thanks again.

[2020-08-06 21:30] miguelchico commented on #64
@omridevk
I just created a quick fix for this. Would you mind to check it?
Thanks.

[2020-08-07 02:03] omridevk commented on #80
@CramericaIndustries can you provide an example please? Keep in mind directive is only to be used with input elements, like input, select and textarea

[2020-08-07 02:03] omridevk commented on #80
I would really like to improve the docs and your feedback is very welcome

[2020-08-07 02:04] omridevk commented on #80
I'll add some dev warnings soon if incorrect usage

[2020-08-07 07:40] CramericaIndustries commented on #80
I think I found the problem while I was putting together some code to demonstrate the issue.
What I intentionally wanted to do is adding the directive to a button and then when ever I hit the keyboard shortcut it should trigger the button click method.
What I understood is that it only works with focusable input elements, but what I didn't realise was that it would only work while the input elemen

[2020-08-07 21:04] omridevk commented on #64
I am still wondering why the original workaround didn't work as it seems to be the solution here:
https://stackoverflow.com/questions/49838859/angular-universal-navigator-is-not-defined

[2020-08-07 21:04] omridevk commented on #64
will clone your repo and test it out. thanks a lot for creating it.

[2020-08-07 22:37] omridevk commented on #64
thanks to @miguelchico
will be fixed in next release.

[2020-08-07 22:37] omridevk commented on #64
closing.

[2020-08-07 22:37] #64 closed

[2020-08-07 22:51] omridevk commented on #80
@CramericaIndustries
Thank you for your input, I will update  the documents accordingly, and sorry for the hassle it caused it you while using the library.
Hopefully these fixes will improve future users who encountered these issues but didn't report a bug.
again, much appreciated

[2020-08-07 23:24] omridevk commented on #80
@CramericaIndustries
fixed in latest version.
Please do let me know if you find any other inconsistencies in the documentation.
Thank you.

[2020-08-07 23:24] #80 closed

[2020-08-07 23:27] omridevk commented on #64
@miguelchico
I have modified some of your code, I hope it is okay :)
Can you please let me know if the issue persist in the latest version (I have added to fix to v7,v8 and v9) to make sure it works with all the Angular LTS versions.

[2020-08-07 23:36] omridevk commented on #81
@zannkukai
Can you please specify what is your desired behavior in this case?
since you put preventDefault on the event, it won't cause copy and paste, can you try and remove the preventDefault? or set it to false?
Thank y oiu
Please re-open if the issue persist.

[2020-08-08 10:11] miguelchico commented on #64
@omridevk
Tested with version 10.1.12 and all good from my side.
Thank you!

[2020-08-10 12:50] zannkukai commented on #81
@omridevk
If i set `preventDefault:false`, I can use the "copy" (my clipboard is filled). Thanks for this trick.
But the main problem is that when I used `cmd+c` (copy) the shortcut defined on `c` is still fired.
So in my previous example, I will navigate to '/my_url/page' when I would just copy some text in my clipboard.

PS : I doesn't have any option to re-open this issue

[2020-08-10 18:35] omridevk commented on #81
sorry wasn't aware that you can't re-open, I re-opened it :)

[2020-08-10 18:36] omridevk commented on #81
@zannkukai
Okay I see your point, and it is a valid one, I'll try to think of a solution for that. Will keep you posted, hopefully I'll get to it rather sooner than later.

[2020-08-10 23:03] omridevk commented on #81
fixed in versions:
10.1.13, 9.1.13 and 7.1.13
Let me know if the issue persist.
Thank you again for reporting the bug

[2020-08-10 23:08] omridevk commented on #81
@zannkukai
Should be that if you registered a command with one key, if any of modifiers are clicked as well, the event will not fire. only when no modifiers are clicked, the event will fire.
I assume this is the behavior you expected, correct?

[2020-08-10 23:09] omridevk commented on #81
If you enjoy the library, please give it a Star up :) Don't have to of course

[2020-08-11 07:27] zannkukai commented on #81
That's right 👍  Thanks for your quick feedback and solution.

[2020-08-11 08:13] omridevk commented on #81
the fix I made seems to cause a small regression, hopefully i'll fix it soon otherwise I might have to revert until I find a proper fix.
I will try to solve it later on today, if not by this weekend.

[2020-08-11 08:41] zannkukai commented on #81
You will say i'm a "tricky man" but now I can't use the key associated with the "shift" command :'(
By example, on my french keyboard, to type a '?' character, I need to push on "shift + ," (shift + comma)
![image](https://user-images.githubusercontent.com/10031585/89876540-15d8fd00-dbbf-11ea-834a-e0f2b9a382de.png)
So now, I can't use the character "?" to open the shortcuts help panel :'(

[2020-08-11 08:47] omridevk commented on #81
yes I am aware that's the regression I was referring to.
I will try to solve it today.

[2020-08-11 08:49] omridevk commented on #81
Not tricky man :) valid complaints, it was my bad for merging the code without verifying this basic regression test.
I still have not had the time to write some tests to ease modifying the code.
if by EOD I won't have a valid solution I will revert.
In the meantime, if you decide the new issue is problematic, feel free to downgrade to previous version until I release a new one.
Thanks again and so

[2020-08-16 11:02] omridevk commented on #81
@zannkukai
Please let me know if the issue persist and i'll re-open though I did make sure to verify all the various working scenarios and your newly reported bug were working properly.
I'll re-open if it still there.
And thank you for the patience 💯

[2020-08-17 07:14] zannkukai commented on #81
It's almost perfect. I had still one problem : I use a shortcut `?` to open the panel and a shortcut `/` to place focus on my main search box. As `/` is the revert of `?` (https://github.com/omridevk/ng-keyboard-shortcuts/pull/88/files#diff-8d9297a8b0f0b9d3d25a47313ad05bbbR118). The action performed is the same when I click on both keys. On my belgian azerty keyboard, both keys characters are not

[2020-08-17 23:06] omridevk commented on #81
Not nit picking at all, you expected it to work and it should. I'll do my best to resolve all these issues, again your feedback is very welcome :)

[2020-08-17 23:07] omridevk commented on #81
Forgive me if this might take a bit longer to fix, i am a bit busy in work related stuff in the upcoming week/s

[2020-08-17 23:50] omridevk commented on #81
@zannkukai
wish we had only one layout :P
Hopefully i'll find a more general solution as I wrote a big TODO there as I really do not like the complexity added there which is really hard to follow and is very bug pruned.
I'll install your layout and play around with it.
And i'll try to think of a way to test all these keyboards layout automatically, thus reducing regressions like these.

Can you le

[2020-08-18 06:35] zannkukai commented on #81
Not "really" important. Our application is still under development and shortcuts can wait a little bit. For me it's always more interesting to have a generic solution ;-)
Thanks for time you passed on our problem.

[2020-08-20 09:27] avijitrockpaul opened #89 "ctrl + t is not working"
Hi ,

I am implementing

 {
          key: "ctrl + t",
          label: "test",
          description: "hello world",
          command: () => console.log('directive cmd + e'),
          preventDefault: true
        }

inside the shortcuts array , but when pressing 'ctrl + t'  it is opening a new tab in browser could you please help me with it, it would be great if you can provide  me a working ex

[2020-08-20 12:53] omridevk commented on #89
Hi @avijitrockpaul
Thank you for reporting the issue, it is currently a known limitation:
https://github.com/omridevk/ng-keyboard-shortcuts/issues/78
Can't seem to override the default behavior of this specific browser shortcut, I have checked with several shortcut libraries, like mousetrap and I don't remember the other one, but in both of them, you could not prevent default for ctrl/cmd + t  and

[2020-08-20 12:53] #89 closed

[2020-08-20 12:55] omridevk commented on #89
see this article for more info:
https://www.robin-drexler.com/2015/07/07/overriding-default-browser-shortcuts/

[2020-08-20 12:57] omridevk commented on #89
and:
https://stackoverflow.com/questions/23492793/jquery-disable-browser-shortcut-keys
https://stackoverflow.com/questions/7295508/javascript-capture-browser-shortcuts-ctrlt-n-w/10933700#10933700

[2020-08-20 13:00] omridevk commented on #89
@avijitrockpaul
last stackoverflow gives the most thorough answer:
https://stackoverflow.com/questions/7295508/javascript-capture-browser-shortcuts-ctrlt-n-w/10933700#10933700
With a list of shortcuts that cannot be captured via Javascript.

[2020-08-26 14:34] hervehobbes opened #90 "Not running with Angular 10"
**Describe the bug**
After adding the required code in app.module.ts I have an error message from the compiler:
`
ERROR in ./node_modules/ng-keyboard-shortcuts/__ivy_ngcc__/fesm2015/ng-keyboard-shortcuts.js
Module build failed: Error: ENOENT: no such file or directory, open '....\node_modules\ng-keyboard-shortcuts\__ivy_ngcc__\fesm2015\ng-keyboard-shortcuts.js'
    at Object.openSync (fs.js:440:3)

[2020-08-26 16:21] omridevk commented on #90
Thank you for reporting the issue.
I seem to have compiled the latest release with the wrong angular compiler for some reason my node modules was not up to date.
Will release a new version in couple of minutes to fix this.

[2020-08-26 16:27] omridevk commented on #90
@hervehobbes
I have released version
10.1.16
please let me know if the issue persist.

[2020-08-26 16:27] #90 closed

[2020-08-27 07:00] hervehobbes commented on #90
It's running perfectly, thank you very much.

[2020-09-08 07:57] zannkukai commented on #81
Hi @omridevk. Did you have any feedback about this problem ? I will have a planning meeting about our project in a couple of days and this topic will be addressed. Thx

[2020-09-14 03:53] nshimiye opened #92 "I would like to use KeyboardShortcutsService by itself"
**Is your feature request related to a problem? Please describe.**
I would like to use `KeyboardShortcutsService` by itself

**Describe the solution you'd like**
[code]
This way, my app bundle only includes the code for `KeyboardShortcutsService`

**Describe alternatives you've considered**
copy/paste the service code in my app

**Additional context**
I am happy to issue mr if you're ok with expos

[2020-09-18 17:17] apaul76 commented on #89
Hi Omridev

I need your help

*Regards,*

*Avijit Paul*
*(Contact No. :8274801323 )*

On Thu, Aug 20, 2020 at 6:24 PM Omri <notifications@github.com> wrote:

[2020-09-18 17:18] apaul76 commented on #89
could your please share your email id
*Regards,*

*Avijit Paul*
*(Contact No. :8274801323 )*

On Fri, Sep 18, 2020 at 10:47 PM Avijit Paul <avijitpaul03021992@gmail.com>
wrote:

[2020-09-18 20:19] omridevk commented on #92
@nshimiye
Thank you for suggestion.
Since most of the written code is the KeyboardShortcutsService, not quite sure if exposing it, is worth the bundle size improvements, AFAIK the library size is 7kb gzipped minified.
https://bundlephobia.com/result?p=ng-keyboard-shortcuts@10.1.16
Version 2-4 were actually implemented only by exposing the service without the component architecture, but cleanup was

[2020-09-18 20:21] omridevk commented on #89
@avijitrockpaul
Hi, my email is:
omrikatz12@gmail.com
Feel free to email me, i'll try to response as soon as possible.
Thank you.

[2020-09-27 10:35] omridevk commented on #92
Please reopen if still relevant

[2020-09-27 10:35] #92 closed

[2020-09-27 10:39] omridevk commented on #81
Sorry I am a bit busy due to personal reasons, hopefully I'll get to it soon enough. Again sorry the inconvenience

[2020-10-08 17:18] domdeger opened #96 "ng-keyboard-shortcuts disabled property is not recognized if bound to a false initialized property"
When you bind a false initialized property to disabled input then the setter runs before the shortcuts input is set (when e.g. calculated in ngOnInit). The disabled property is never checked again then so the shortcuts input is set afterwards and then just registers events.

My PR https://github.com/omridevk/ng-keyboard-shortcuts/pull/95 should fix the issue.

Thanks for this awesome library btw,

[2020-11-05 00:39] fidlip opened #97 "Shortcuts are inactive on disabled button in Firefox"
When I click button, and disable it immediately, keyboard shortcuts become nonfunctional in **Firefox**. It behave as expected in Chrome.

I prepared sample application in sandbox from your official example:

https://codesandbox.io/s/ng-keyboard-shortcuts-example-forked-6ow1k

[2020-11-05 11:16] omridevk commented on #97
thank you for  reporting  the issue, I will look into it and will update the issue accordingly.

[2020-11-05 11:17] omridevk commented on #97
I assume it is related to the fact that the button is disabled but is focused after clicked.

[2020-11-05 11:32] fidlip commented on #97
Yes it very probably is.

[2020-11-26 20:53] Grasscropper opened #98 "Choose how you handle multiple bindings for the same shortcut"
First of all, great library! Sabbabba ;) ! I changed from another one I was using and I'm glad I did, so thanks for that.

So I my suggestion is that you can set the way you handle multiple bindings for the same shortcut. I basically see it as handling it in the following 3 ways when the shortcut is used:

1. Trigger all of the commands/bindings

**Is your feature request related to a problem? Ple

[2020-11-28 20:32] Grasscropper opened #99 "When CapLock is on and Shift is pressed, shortcuts with alphabetic key are not triggered"
Hey there, I think I found a bug. When CapLock is on and Shift is pressed, shortcuts with alphabetic keys are not triggered. This seems not to effect combination/sequence key shortcuts. So it works for a shortcut with key "t a" but not for one with key "k".

I used addEventListener to check how JS normally reacts and there it triggers just fine:
[code]
![image](https://user-images.githubuserconten

[2020-11-29 13:31] omridevk commented on #98
@Grasscropper
Very happy to hear your feedback and that you love the library :)
1. I have a branch to add support for multiple bindings for the same key, but I have some issues on making it work with Debounce and since I don't want to break the existing API, until I find a way to make it work with debounce and multiple binding, I don't want to release it.
2. Would you mind opening a new issue for

[2020-11-29 13:37] omridevk commented on #99
@Grasscropper
Can I reproduce it in the example app codesandbox?
https://codesandbox.io/s/yvyovny43v
I'll look into, thanks for reporting.

[2020-11-29 14:09] omridevk commented on #96
fixed in version 10.1.17

[2020-11-29 14:10] #96 closed

[2020-11-29 14:10] omridevk commented on #96
Thanks @domdeger !!!

[2020-11-29 22:23] Grasscropper commented on #99
Pfff not sure why but works absolutely fine in codesandbox but somehow not in my app...

[2020-12-01 15:25] jdessaint opened #100 "Do not display help causes one event too many after disabled"
Hello! I started to use this package in order to implement special navigation in my app. In this app, I have a custom table with a selected object by index : ArrowDown to increase index, ArrowUp to decrease. When an event occurs and disables the shortcuts, these work once too more.
Here an example of the problem : https://codesandbox.io/s/ng-keyboard-shortcuts-issue-with-problem-ey691

To bypass t

[2020-12-20 07:55] charlierudolph opened #101 "Issues using ng-keyboard-shortcuts-help component"
**Describe the bug**
Trying to make use of the help component I ran into a couple issues related to showing lines for the open / close help keys.

1) Appears closeKeyLabel is not working as expected. Looking at the code appears this line https://github.com/omridevk/ng-keyboard-shortcuts/blob/10.1.17/projects/ng-keyboard-shortcuts/src/lib/ng-keyboard-shortcuts-help.component.ts#L209 needs to be upd

[2021-05-10 12:28] vanderdill opened #112 "Support for Angular 11"
The current version for Angular 10 is warning when using Angular 11.
Although it works perfectly, aparently, on ng11, you can't do anything without using the npm flag --legacy-peer-deps.
I think it would be simply update de dependency requiriments to solve the problem

Thanks,
And congrats for the project. It's being realy useful.

[2021-05-10 12:34] omridevk commented on #112
Thanks for reporting
I'll look into it, not sure when though I am a bit busy on other priorities at the moment.
Regardless, feel free to make a PR and i'll merge it as soon as possible.
Thanks again

[2021-05-10 12:35] omridevk commented on #112
To be honest, I am not sure that updating the dependency will solve the issue as some of the peer dependencies are still outdated and may result in the need of running npm install with the legacy peer deps

[2021-05-11 04:21] alligator609 opened #113 "On form input focus shortcut keys not working."
when form item is focused then others shortcut keys not working.

[2021-05-11 04:57] #113 closed

[2021-05-26 18:06] ahsinsiddique opened #115 "CTRL + A + B (Kind of sequences not working)"
just simple sequences works like       `[ a b c] but not like that  [ cmd a b ] or [alt  c  d ] `

[2021-06-13 13:34] omridevk commented on #97
Duplicate of #

[2021-06-13 13:34] #97 closed

[2021-06-13 13:35] omridevk commented on #97
5``

[2021-06-17 14:04] maidl commented on #112
Same 'issue' for angular version 12:
[code]

Maybe fixing the peer-dependencies (by adding the newer versions) in [/projects/ng-keyboard-shortcuts/package.json](https://github.com/omridevk/ng-keyboard-shortcuts/blob/11af8878662e23f602c4adab19c296a839121441/projects/ng-keyboard-shortcuts/package.json) will already do the trick.
[code]

[2021-06-20 07:46] omridevk commented on #112
Yes, i'll test and see if indeed updating peer dep will solve the error.

[2021-06-23 06:59] Benny739 opened #117 "contenteditable should be ignored"
Div with contenteditable attribute should be ignored like input elements, because a contenteditable div behaves like an input and is mostly used like an input.

[2021-08-22 07:46] wwarby opened #120 "object unsubscribed error when used with RxJS 7"
When used with rxjs version 7.3.0 (but presumably 7 and upwards) I get an error thrown with the message `object unsubscribed`. There's nothing in the stack trace to indicate that `ng-keyboard-shortcuts` is the culprit, but I've discovered through trial and error that removing the `<ng-keyboard-shortcuts>` component from my page's HTML template makes the issue go away. I've further established that

[2021-10-11 10:31] codewithsuman commented on #120
Hi @omridevk, It seems the issue is being caused due to use of [tap operator](https://github.com/omridevk/ng-keyboard-shortcuts/blob/master/projects/ng-keyboard-shortcuts/src/lib/ng-keyboard-shortcuts.service.ts#L209)
https://github.com/omridevk/ng-keyboard-shortcuts/blob/11af8878662e23f602c4adab19c296a839121441/projects/ng-keyboard-shortcuts/src/lib/ng-keyboard-shortcuts.service.ts#L199-L212
and,

[2021-11-11 07:38] johanndev commented on #120
I've ran into the same issue during upgrading to RxJs 7.

Can you clarify what you mean by:

What kind of function do I need to pass to the `[shortcuts]` property?
Or am I getting this completely wrong?

[2021-11-17 06:36] tobiasmuecksch opened #123 "Is this project abandoned?"
The last commit is nearly one year old, and the package is incompatible since three major releases now.

Is this project abondoned? And if so; please mark it accordingly.

[2021-11-25 07:49] cpereyra5199 commented on #120
Hello is this going to be fixed by an updated version?

[2022-01-11 15:49] CramericaIndustries commented on #120
Like so?
[code]
I'm not knee deep into rxjs. I do know `tap()` and I do know that `timer$` is a `Subject`, but what I don't know is what `tap(this.timer$)` does. Does it proxy the Observable's `next()/error()/complete()` functions to the `timer$` Subject?
I always used `tap` with a callback function like so `tap(val => console.log(val))`

[2022-02-04 19:29] EgoistDeveloper opened #126 "About the future of the project"
The project owner seems inactive or too busy since past year. I forked and updated for latest Angular versions. If you wish we can continue through this [fork](https://github.com/EgoistDeveloper/ng-keyboard-shortcuts) until the project owner comes back.

[2022-05-08 06:41] wwarby commented on #126
Have you fixed the compatibility issue with RxJS 7 in your fork? I had to abandon this library nearly a year ago because it was incompatible with the latest RxJS and simply descoped the functionality at the time rather than looking for an alternative - I'd love to get that functionality back.

[2022-05-08 12:45] relliv commented on #126
@wwarby Yes, my fork works with RxJS v6.3.0 and later. I have been fixed with this [commit](https://github.com/EgoistDeveloper/ng-keyboard-shortcuts/commit/959ed92700e969cfd0ac0ef53517d0a7c65d9107). Also, I actively maintain my fork and you can open an issue if you encounter an error or bug. You can see more details from [here](https://github.com/EgoistDeveloper/ng-keyboard-shortcuts/blob/master/R

[2022-05-08 19:57] wwarby commented on #126
Thanks @EgoistDeveloper for keeping this project alive - I've switched my codebase to use your fork and it works perfectly with Angular 13 and RxJS 7.

[2022-05-12 08:18] omridevk commented on #126
Hi all,
sorry I have been busy for the past year on other projects, but I am ready to fully get back to this project and it really makes me happy to see people depends on this project.
I would do the following:
1. I will update the project to the latest Angular version
2. Will resolve all issues
3. Will merge all open PRs

Sorry you had to switch to a fork version, I would be gladly accept a PR fo

[2022-05-12 08:19] omridevk commented on #126
@EgoistDeveloper
I am coming back to this project and my next task is to make the transition to the latest angular release.

[2022-05-12 08:20] omridevk commented on #123
It is not, I will get back to working on this.
Thank you for your support.

[2022-05-12 08:39] #123 closed

[2022-05-12 11:37] relliv commented on #126
@omridevk OK, I will send PR.

[2022-05-12 13:39] omridevk commented on #126
I have made a PR:
https://github.com/omridevk/ng-keyboard-shortcuts/pull/134
Moved the repo to NX and upgraded to angular 13.

[2022-05-12 17:40] omridevk commented on #120
It basically calls next with the value, but I think it was removed in version 7.

[2022-05-12 17:40] #120 closed

[2022-05-12 17:40] omridevk commented on #120
Fixed in version 13.

[2022-05-12 18:44] #112 closed

[2022-05-12 18:44] omridevk commented on #112
Updated to angular 13.

[2022-05-12 18:48] omridevk commented on #115
@ahsinsiddique
Can you provide a codesandbox with an example please? thank you.

[2022-05-12 18:49] omridevk commented on #117
Good point, I will try to resolve this soon.

[2022-05-13 10:27] omridevk commented on #126
Closing, as I am back again to working on this.
Thank you all for your assistance.

[2022-05-13 10:27] #126 closed

[2022-05-13 10:48] omridevk commented on #117
Fixed in 13.0.2

[2022-05-13 10:49] #117 closed

[2022-05-13 13:30] omridevk commented on #100
fixed.

[2022-05-13 13:30] #100 closed

[2022-05-13 13:41] omridevk commented on #101
fixed.

[2022-05-13 13:41] #101 closed

[2022-05-21 10:21] omridevk commented on #99
Closing, need more information.

[2022-05-21 10:21] #99 closed

[2022-05-23 17:27] ssj4maiko opened #137 "Compilation problem: ng-keyboard-shortcuts.plugin is missing"
I recently added your library to my project, and I got the following error during compilation.

[code]

Version 3.0.6

Commenting the line makes it work, but of course, it should cause problems for new users, besides, I'm guessing there must be some special functionality that may be missed with that, but well, there is still a problem nonetheless.

I'm using Angular 13, and again, just commenting

[2022-05-27 04:13] charlierudolph commented on #101
Thanks!

[2022-06-07 18:32] Radoslaw-Domanski commented on #137
Just updated this lib to latest version with angular 14. Same problem.

[2022-06-23 20:39] marcelolara commented on #137
Same problem here with version 13.0.6 and angular 13

[2022-06-24 10:20] kishoresahas commented on #137
Getting it all versions after 13.0.5

[2022-07-13 11:18] omridevk commented on #137
I'll look into it, sorry for the delay.

[2022-07-13 11:35] omridevk commented on #137
Can you please provide a link to reproduce? I cannot reproduce it in my local playground env nor in codesandbox.
Thanks.

[2022-07-13 14:12] omridevk commented on #137
Should be fixed now in 13.0.7 please let me know if the issue persist.

[2022-07-17 16:43] omridevk commented on #137
Is it solved?

[2022-08-15 08:57] Washipp commented on #137
13.0.7 solved it for me using angular 13

[2022-08-15 09:50] omridevk commented on #137
Closing, let me know if the issue persist, I will look again.

[2022-08-15 09:50] #137 closed

[2022-08-25 16:39] abritabroad opened #141 "Update documentation to help explain sequences clearer"
I spent a few days digging through the code in order to figure out why my sequences were not working properly.

If you are trying to achieve the following scenario, the "g" command always wins.

[code]

If you add a trailing 'space' to to the first command's key, it will be treated as a sequence and the "g a" combination wins.

[code]

Thanks!

[2022-08-25 17:20] omridevk commented on #141
@abritabroad
Are you referring to this?
https://github.com/omridevk/ng-keyboard-shortcuts#important-note-1

[2022-08-25 17:25] abritabroad commented on #141
Yes, there is no mention if needing a trailing space on the single key in order to get the double key's to work.

[2022-08-26 11:24] omridevk commented on #141
I think that's more of a bug rather than a feature, i'll need to think about this. but the "g a" sequence suppose to win

[2022-08-30 10:32] pjiepsma opened #142 "Unable to trigger shortcut event from unit tests"
**Describe the bug**
From the angular .spec file I'm not able to test if the shortcuts are working. Below is an example of the code. They keyboard event does not seem to be trigged.

I also ran the same test with a clone of this repo https://www.npmjs.com/package/ng-hotkeys, and there the unit test work as expected.

Did I make any mistake or am I running the wrong version?

`<ng-keyboard-shortcut

[2022-08-30 12:08] omridevk commented on #142
I actually never tested it, can you please provide a minimal reproduction repository where I can debug it?
Thanks a bunch.

[2022-08-30 12:10] omridevk commented on #142
This is the correct version by the way, the clone repo was created due to lack of activity on my side, but I am back in business

[2022-08-31 18:14] pjiepsma commented on #142
Thanks you for the quick response, im quite a novice so I couldnt quit figure out to create a reproduction enviroment from our project, so I just cloned and cleaned it.

Here is the link, I also added the cloned lib ng-hotkeys in there, to show the same test works for one but not the other.

Thank you for you time, I hope you can figure it out.

Kinds regards,

Pieter

https://github.com/pjiepsma/

[2022-09-08 12:41] co-dax opened #143 "How to dynamically add key shortcuts?"
I have tried to add key shortcuts dynamically by adding new objects to the list binded to property "shortcuts" but it doesn't work.
Documentation mentions in some places it is possible to do it. What am I supposed to do?

Thanks.

[2022-09-08 12:54] omridevk commented on #143
would be best if you could provide a minimal reproduction repo, you can use the codesandbox here:
https://codesandbox.io/s/yvyovny43v

[2022-09-08 13:44] co-dax commented on #143
Here is an example [https://codesandbox.io/s/ng-keyboard-shortcuts-example-forked-bi14kw?file=/src/app/app.component.ts](url)
Clicking on button "Add New Shortcut" should add a new shortcut "cmd + b" which should log related event but it does not happen.

Thanks!

[2022-09-08 23:00] omridevk commented on #143
Thanks, I will look into it, thanks for reporting.

[2022-10-06 08:37] pjiepsma commented on #142
Dear omridevk,

Do you have any update regarding this issue?

Kinds regards,

Pieter

[2022-10-06 19:02] omridevk commented on #142
sorry, for the delay, I hope i'll find a time this weekend.

[2022-10-26 06:36] mayerzx commented on #142
+1, same issue, when I try to test the command callback